<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <%- include ("partials/head") %>

  <title>Linkin Park - The Albums</title>
  
</head>

<body>

  <div class="background-logo">
    <%- include ("partials/header") %>
    
    <nav class="my-3" aria-label="breadcrumb">
      <ol class="breadcrumb" id="ml-2">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Albums</li>
      </ol>
    </nav>
  
    <div class="title">
      <p class="display-1">Linkin Park - The Albums</p>
    </div>

    
    <div class="row justify-content-center no-gutters ml-3">
      
      <% albums.forEach(album => { %>
        
        <div class="card col-md-4 ml-md-auto mb-4 mr-3" id="<%= album.Name.toLowerCase().replace(/\s+/g, '-') %>">
          <img src="/images/<%= album.Cover %>"  class="card-img-top" alt="<%= album.Name%> cover">
          
          <div class="card-desc text-center">
            <h5 class="wider-description"><%= album.Description %></h5>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <a href="#<%=album.Name%>"><%= album.Name %></a>
              <br>
              <small class = "text-muted">Released in <%= album.Year %></small>
            </h5>
          </div>
        </div>
        <% }) %>
    </div>

    <scroll-container>
      <% albums.forEach(album => { %>
        <scroll-page id="<%=album.Name%>" class="album-section">
          <div class="container">
            <div class="row mt-4">
              <hr class="white-line">
              <div class="col-md-4">
                <img src="/images/<%= album.Cover %>" class="img-fluid card-img-top" alt="<%= album.Name %> cover">
                <h2 class = "text-center mb-3 card-title"><%= album.Name %></h2>
              </div>
              <div class="col-md-4">
                <iframe style="border-radius:12px" src= "<%= album.Album %>" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
              </div>
            </div>
          </div>
        </scroll-page>
        <% }) %>
    </scroll-container>

    <%- include ("partials/footer") %>
    
  </div>



</body>
</html>

    
