<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <%- include ("partials/head") %>

  <title>Linkin Park - The Albums</title>
  
</head>

<body>

  <div class="background-logo">
    <%- include ("partials/header") %>
    
    <nav class="my-3" aria-label="breadcrumb">
      <ol class="breadcrumb" id = "ml-2">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Albums</li>
      </ol>
    </nav>
  
    <div class="title">
      <p class="display-1">Linkin Park - The Albums</p>
    </div>

    
    <div class="row justify-content-center">
      <% albums.forEach(album => { %>
        <div class="card col-md-4 ml-md-auto">
          <img src="/images/<%= album.Cover %>"  class="card-img-top" alt="<%= album.Name%> cover">
          <div class="card-body">
            <h5 class="card-title"><%= album.Name %></h5>
          </div>
        </div>
      <% }) %>
    </div>

    <% include ("partials/footer") %>
  </div>
</body>

</html>

    
