<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <%- include ("partials/head") %>

  <title>Linkin Park - The Albums</title>
  
</head>

<body>

  <div class="background-logo">
    <%- include ("partials/header") %>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" id = "ml-2">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Albums</li>
      </ol>
    </nav>
  
    <div class="title">
      <p class="display-1">Linkin Park - The Albums</p>
    </div>

    <% albums.forEach(album => { %>
      <div class="card" style="width: 18rem;">
        <img src="/images/<%= album.Cover %>"  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= album.Name %></h5>
        </div>
      </div>
    <% }) %>

  </div>
  
  <%- include ("partials/footer") %>
</body>

</html>