<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <%- include ("partials/head") %>

  <title>Linkin Park</title>
</head>

<body>
  <%- include ("partials/header") %>

  <div class="background-logo">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" id = "ml-2">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/about">About</a></li>
        <li class="breadcrumb-item active" aria-current="page">Discography</li>
      </ol>
    </nav>

    <div class="MembrosDisplay">
      <h1>Discography</h1>
        <% albums.forEach(album => { %>
            <div class="DiscografiaDisplay">
                <img src="/images/<%= album.Image %>" alt="<%= album.Title %>" />
                <p><%= album.Description %></p>
                <a href="/albums#<%=album.Title%>">Go to the album</a>
            </div>
        <% }) %>
    </div>    
    <%- include ("partials/footer") %>
  </div>
  

</body>

</html>