<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <%- include ("partials/head") %>

  <title>Linkin Park</title>
  
</head>

<body>

  <div class="background-logo">
    <%- include ("partials/header") %>
    
    <nav class="my-3" aria-label="breadcrumb">
      <ol class="breadcrumb" id="ml-2">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Events</li>
      </ol>
    </nav>
  
    <div class="title">
      <p class="display-1">Events</p>
      <a href="javascript:history.back()" class="btn btn-primary ml-3 return">Return</a>
    </div>

    <div class="btn-group center text-center" role="group">
      <button type="button" class="btn btn-secondary">Popular</button>
      <button type="button" class="btn btn-secondary">Future</button>
    </div>

    <div class = "container">
      <% events.forEach(event => { %>
        <section id="<%=event.Name%>" class="album-section">
          <div class="container">
            <h3><%= event.Name %></h3>
            <div class="row mt-4">
              <hr class="white-line">
              <div class="col-md-4">
                <p><%= event.Description %> </p>
              </div>
              <div class="col-md-4">
                
            </div>
          </div>
        </scroll-page>
        <% }) %>
    </div>
  
    <%- include ("partials/footer") %>
  </div>
</body>

</html>