<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <%- include ("partials/head") %>

  <title>Linkin Park</title>
  
</head>

<body>

  <div class="background-logo">
    <%- include ("partials/header", isAuthenticated) %>
    
    <nav class="my-3" aria-label="breadcrumb">
      <ol class="breadcrumb" id="ml-2">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Events</li>
      </ol>
    </nav>
  
    <div class="title">
      <p class="display-1">Events</p>
      <button type="button" id="btnPopular" class="btn btn-secondary">Popular</button>
      <button type="button" id="btnFuture" class="btn btn-secondary">Future</button>
    </div>

    <div class="btn-group center text-center" role="group">

    </div>

    <div class="container" id="Events">
      <!-- BEGIN: Default display of popular events -->

      <% events.forEach((event,eventIndex) => { %>
        <% if (event.Type === 'Popular') { %>
          <section id="<%=event.Name%>" class="album-section event-name mb-5">
            <div class="container">
              <h3><%= event.Name %></h3>
              <div class="row mt-4">
                <hr class="white-line">
                <div class="col-md-4 mt-3">
                  <p class="event-description"><%= event.Description %> </p>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
            
                  <div class="d-flex justify-content-center">

                    <div id="<%= 'carouselExampleControlsVideos' + eventIndex %>" class="carousel slide" data-ride="carousel" style="width: 80vw; margin-left: auto; margin-right: auto;">
                      <div class="carousel-inner">
                        <% event.Videos.forEach((video, index) => { %>
                          <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                            <video controls class="w-100 h-100">
                              <source src="/videos/<%= video %>" type="video/mp4">
                              Your browser does not support the video tag.
                            </video>
                            <label class="video-name"><%= video.replace('.mp4', '') %></label>
                          </div>
                        <% }) %>
                      </div>
                      <a class="carousel-control-prev" href="#<%= 'carouselExampleControlsVideos' + eventIndex %>" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only"></span>
                      </a>
                      <a class="carousel-control-next" href="#<%= 'carouselExampleControlsVideos' + eventIndex %>" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only"></span>
                      </a>
                    </div>
                  </div>
            
                </div>
              </div>
            </div>
          </section>
        <% } %>
      <% }) %>
      <!-- END: Default display of popular events -->
    </div>
  
    <%- include ("partials/footer2") %>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      setupCarouselControls();
      document.getElementById('btnPopular').addEventListener('click', function () {
        filterEvents('Popular');
        setupCarouselControls();
      });

      document.getElementById('btnFuture').addEventListener('click', function () {
        filterEvents('Future');
        setupCarouselControls();
      });

      function filterEvents(type) {
        var eventsContainer = document.getElementById('Events');
        eventsContainer.innerHTML = ''; // Clear the div
        // Recreate the div based on the button pressed
        "<% events.forEach((event,eventIndex) => { %>"
          if ("<%= event.Type %>" == type) {
            var section = document.createElement('section');
            section.id = "<%= event.Name %>";
            section.className = 'album-section event-name mb-5';

            var container = document.createElement('div');
            container.className = 'container';

            var heading = document.createElement('h3');
            heading.innerText = "<%= event.Name %>";

            var row = document.createElement('div');
            row.className = 'row mt-4';

            var hr = document.createElement('hr');
            hr.className = 'white-line';

            var col1 = document.createElement('div');
            col1.className = 'col-md-4 mt-3';

            var description = document.createElement('p');
            description.className = 'event-description';
            description.innerText = "<%= event.Description %>";

            var col2 = document.createElement('div');
            col2.className = 'col-md-4';

            var col3= document.createElement('div');
            col3.className = 'col-md-4';

            if ("<%= event.Type %>" === 'Popular') {
              var carouselDiv = document.createElement('div');
              carouselDiv.className = 'd-flex justify-content-center';

              var carousel = document.createElement('div');
              carousel.id = "<%= 'carouselExampleControlsVideos' + eventIndex %>";
              carousel.className = 'carousel slide';
              carousel.setAttribute('data-ride', 'carousel');
              carousel.style.width = '80vw';
              carousel.style.marginLeft = 'auto';
              carousel.style.marginRight = 'auto';

              var carouselInner = document.createElement('div');
              carouselInner.className = 'carousel-inner';

              "<% event.Videos.forEach((video, index) => { %>"
                var carouselItem = document.createElement('div');
                carouselItem.className = '<%= index === 0 ? "carousel-item active" : "carousel-item" %>';

                var videoElement = document.createElement('video');
                videoElement.controls = true;
                videoElement.className = 'w-100 h-100';

                var videoSource = document.createElement('source');
                videoSource.src = '/videos/<%= video %>';
                videoSource.type = 'video/mp4';

                var videoFallback = document.createTextNode('Your browser does not support the video tag.');

                var videoLabel = document.createElement('label');
                videoLabel.className = 'video-name';
                videoLabel.innerText = '<%= video.replace(".mp4", "") %>';

                videoElement.appendChild(videoSource);
                videoElement.appendChild(videoFallback);
                carouselItem.appendChild(videoElement);
                carouselItem.appendChild(videoLabel);
                carouselInner.appendChild(carouselItem);
              "<% }) %>"
              
              var carouselPrev = document.createElement('a');
              carouselPrev.className = 'carousel-control-prev';
              carouselPrev.href = "#<%= 'carouselExampleControlsVideos' + eventIndex %>";
              carouselPrev.role = 'button';
              carouselPrev.setAttribute('data-slide', 'prev');

              var carouselPrevIcon = document.createElement('span');
              carouselPrevIcon.className = 'carousel-control-prev-icon';
              carouselPrevIcon.setAttribute('aria-hidden', 'true');

              var carouselPrevSr = document.createElement('span');
              carouselPrevSr.className = 'sr-only';

              carouselPrev.appendChild(carouselPrevIcon);
              carouselPrev.appendChild(carouselPrevSr);

              var carouselNext = document.createElement('a');
              carouselNext.className = 'carousel-control-next';
              carouselNext.href = "#<%= 'carouselExampleControlsVideos' + eventIndex %>";
              carouselNext.role = 'button';
              carouselNext.setAttribute('data-slide', 'next');

              var carouselNextIcon = document.createElement('span');
              carouselNextIcon.className = 'carousel-control-next-icon';
              carouselNextIcon.setAttribute('aria-hidden', 'true');

              var carouselNextSr = document.createElement('span');
              carouselNextSr.className = 'sr-only';

              carouselNext.appendChild(carouselNextIcon);
              carouselNext.appendChild(carouselNextSr);

              carousel.appendChild(carouselInner);
              carousel.appendChild(carouselPrev);
              carousel.appendChild(carouselNext);

              carouselDiv.appendChild(carousel);
              
              col3.appendChild(carouselDiv);
            } else if ("<%= event.Type %>" === 'Future') {
              var image = document.createElement('img');
              image.src = '/images/<%= event.Images[0] %>';
              image.alt = "<%= event.Name %>";
              image.className = 'w-100 h-100';

              var imageLabel = document.createElement('label');
              imageLabel.className = 'image-name';
              imageLabel.innerText = '<%= event.Images[0] %>';

              col3.appendChild(image);
              col3.appendChild(imageLabel);
            }

            row.appendChild(hr);
            col1.appendChild(description);
            row.appendChild(col1);
            row.appendChild(col2);
            row.appendChild(col3);
            container.appendChild(heading);
            container.appendChild(row);
            section.appendChild(container);
            eventsContainer.appendChild(section);
          }
        "<% }) %>" ;
      }
    });

    function setupCarouselControls() {
      $(".carousel-control-prev, .carousel-control-next").click(function (event) {
          event.preventDefault();
          var targetCarouselId = $(this).attr("href");
          $(targetCarouselId).carousel('prev');
      });

      $(".toggleCarouselBtn").click(function () {
          var targetCarouselId = $(this).data("target");
          $("#" + targetCarouselId).toggle();
      });
    }
  </script>

<script>
  $(document).ready(function () {
      $(".carousel-control-prev, .carousel-control-next").click(function (event) {
          event.preventDefault();  // Adicione esta linha
          var targetCarouselId = $(this).attr("href");
          $(targetCarouselId).carousel('prev');
      });

      $(".toggleCarouselBtn").click(function () {
          var targetCarouselId = $(this).data("target");
          $("#" + targetCarouselId).toggle();
      });
  });
</script>
</body>
