<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <%- include ("partials/head") %>

  <title>Linkin Park</title>
</head>

<body>
<%- include ("partials/header", isAuthenticated) %>

  <div class="background-logo">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" id = "ml-2">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/about">About</a></li>
        <li class="breadcrumb-item active" aria-current="page">Influences</li>
      </ol>
    </nav>

    <div class="HistoriaComponentes">
      <% influences.forEach(influence => { %>
          <h3><%= influence.Name %></h3>
          <div class="ConteudoHistoria">
            <p><%= influence.Description %></p>
            <img src="/images/<%= influence.Name %>.png" alt="<%= influence.Name %>" />
          </div>
      <% }) %>
    </div>  
    <%- include ("partials/footer2") %>
  </div>
</body>

</html>