<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <%- include ("partials/head") %>

  <title>Linkin Park</title>
</head>

<body>
  <%- include ("partials/header") %>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb" id = "ml-2">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/about">About</a></li>
      <li class="breadcrumb-item active" aria-current="page">History</li>
    </ol>
  </nav>

  <div id="HistoriaComponentes">
    <% members.forEach(member => { %>
        <h3><%= member.Name %></h3>
        <div class="ConteudoHistoria">
          <p><%= member.Description %></p>
        </div>
    <% }) %>
  </div>

  <%- include ("partials/footer") %>
</body>

</html>