<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <%- include ("partials/head") %>

  <title>Linkin Park</title>
  
</head>

<body>
  <%- include ("partials/header") %>
  <div class="background-logo">
    <nav class="my-3" aria-label="breadcrumb">
      <ol class="breadcrumb" id = "ml-2">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Suggestions</li>
      </ol>
    </nav>

    <% if(isAuthenticated){ %>
      <form action="/logout" method="post">
        <button type="submit">Logout</button>
      </form>

      <h1 class="text-center">Welcome admin!</h1>

      <% suggestions.forEach((sug, index) => { %>
        <div class="suggestion-container">
            <h2><%= sug.Title %></h2>
            <p><%= sug.Body %></p>
        </div>
      <% }) %>
    <% } else{%>>
      <div class="suggestion-container">
        <form id="suggestion-form" action="/suggestions" method="post">
          <h2 class="text-center">Give us your suggestions!</h2>

          <label for="title">Title</label>
          <input type="text" id="title" name="title" placeholder="Title..">

          <label for="suggestion">Suggestion</label>
          <textarea id="suggestion" name="suggestion" placeholder="Write something.." style="height:200px"></textarea>

          <input type="submit" name="submit" class="btn btn-dark btn-md" value="submit">
        </form>
      </div>
    <% } %>
  </div>
  <%- include ("partials/footer") %>
</body>

</html>