<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <%- include ("partials/head") %>

  <title>Linkin Park</title>

  <style>
    .background-logo{
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("../images/logo_grey-transformed.png");
      position: fixed;
      width: 100%;
      height: 100vh;
    }
    #suggestion{
      height: 130px !important;
    }
  </style>
  
</head>

<body>
  <%- include ("partials/header", isAuthenticated) %>
  <div class="background-logo">
    <nav class="my-3" aria-label="breadcrumb">
      <ol class="breadcrumb" id = "ml-2">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Suggestions</li>
      </ol>
    </nav>

    <% if(isAuthenticated){ %>
      <h1 class="text-center">Welcome admin!</h1>

      <% suggestions.forEach((sug, index) => { %>
        <div class="suggestion-container d-flex justify-content-between">
          <div>
            <h2><%= sug.Title %></h2>
            <p><%= sug.Body %></p>
          </div>
          <div class="d-flex align-items-center">
            <form method="post" action="/suggestions/delete/<%= sug._id %>?_method=DELETE">
              <button type="submit" class="delete-suggestion-button">
                <img src="../images/delete.png" alt="delete_suggestion_button">
              </button>
            </form>
          </div>
        </div>
      <% }) %>
    <% } else{%>>
      <div class="suggestion-container">
        <form id="suggestion-form" action="/suggestions" method="post">
          <h2 class="text-center">Give us your suggestions!</h2>

          <label for="title">Topic/Title of the suggestion</label>
          <input type="text" id="title" name="title" placeholder="Title..">

          <label for="suggestion">Suggestion</label>
          <textarea id="suggestion" name="suggestion" placeholder="Write something.." style="height:200px"></textarea>

          <input type="submit" name="submit" class="btn btn-dark btn-md" value="Submit">
        </form>
      </div>
    <% } %>
  </div>
  <%- include ("partials/footer") %>

  <script>
    // Add an event listener to the form submission
    document.getElementById("suggestion-form").addEventListener("submit", function(event) {

      // Show an alert after submitting the suggestion
      alert("Thank you for your suggestion!");

    });
  </script>
</body>

</html>